#Colours
! Black + DarkGrey
*color0: #161a14
*color8: #293122
! DarkRed + Red
*color1: #bfbbbe
*color9: #dcafcc
! DarkGreen + Green
*color2: #b09d9d
*color10: #dccfde
! DarkYellow + Yellow
*color3: #72541b
*color11: #9a7168
! DarkBlue + Blue
*color4: #2a1913
*color12: #464138
! DarkMagenta + Magenta
*color5: #490e0b
*color13: #3f6907
!DarkCyan + Cyan (both not tango)
*color6: #e3e7ea
*color14: #bcc5d0
! LightGrey + White
*color7: #d7d6db
*color15: #f0f1f2

*background: #161a14
*foreground: #f0f1f2

URxvt*transparency: true
URxvt*shading: 30

URxvt*font: xft:Source Code Pro:pixelsize=13

